LogicAppSimpleAgent/deploy.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "metadata": {
    "_generator": {
      "name": "bicep",
      "version": "0.24.24.22086",
      "templateHash": "461456421875757902"
    }
  },
  "parameters": {
    "location": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]",
      "metadata": {
        "description": "The location all resources will be deployed to"
      }
    },
    "prefix": {
      "type": "string",
      "defaultValue": "simpleagent",
      "metadata": {
        "description": "A prefix to add to the start of all resource names. Note: A \"unique\" suffix will also be added"
      }
    },
    "AzureOpenAIEndpoint": {
      "type": "string",
      "metadata": {
        "description": "The Azure OpenAI Endpoint to use"
      }
    },
    "AzureOpenAIKey": {
      "type": "securestring",
      "metadata": {
        "description": "The key for the Azure OpenAI Endpoint specified"
      }
    },
    "AzureOpenChatDeployment": {
      "type": "string",
      "metadata": {
        "description": "The name of the GPT3.5/3.5-turbo/4 deployment within the Azure OpenAI Endpoint specified"
      }
    }
  },
  "variables": {
    "$fxv#0": {
      "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
          "Call_Azure_OpenAI": {
            "inputs": {
              "body": "@outputs('Compose_Chat_Completion')",
              "headers": {
                "api-key": "@{parameters('openAIKey')}"
              },
              "method": "POST",
              "uri": "@concat('https://', uriHost(parameters('openAIEndpoint')), '/openai/deployments/', parameters('openAIChatDeployment'), '/chat/completions?api-version=2023-08-01-preview')"
            },
            "runAfter": {
              "Compose_Chat_Completion": [
                "Succeeded"
              ]
            },
            "type": "Http"
          },
          "Compose_Chat_Completion": {
            "inputs": {
              "max_tokens": 800,
              "messages": [
                {
                  "content": "@{variables('Prompt')}",
                  "role": "system"
                },
                {
                  "content": "@{triggerBody()} ",
                  "role": "user"
                }
              ],
              "temperature": 0,
              "user": ""
            },
            "runAfter": {
              "Initialize_Prompt": [
                "Succeeded"
              ]
            },
            "type": "Compose"
          },
          "Extract_Response": {
            "inputs": {
              "variables": [
                {
                  "name": "response",
                  "type": "string",
                  "value": "@{body('Call_Azure_OpenAI')['choices'][0]['message']['content']}"
                }
              ]
            },
            "runAfter": {
              "Call_Azure_OpenAI": [
                "Succeeded"
              ]
            },
            "type": "InitializeVariable"
          },
          "Initialize_Prompt": {
            "inputs": {
              "variables": [
                {
                  "name": "prompt",
                  "type": "string",
                  "value": "You are an AI assistant that helps a helpdesk analyst who is triaging incident reports received.\nYou must use the provided data and include a suggested next step if known."
                }
              ]
            },
            "runAfter": {},
            "type": "InitializeVariable"
          },
          "Response": {
            "inputs": {
              "body": "@variables('response')",
              "statusCode": 200
            },
            "kind": "Http",
            "runAfter": {
              "Extract_Response": [
                "Succeeded"
              ]
            },
            "type": "Response"
          }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "parameters": {
          "$connections": {
            "defaultValue": {},
            "type": "Object"
          },
          "openAIChatDeployment": {
            "defaultValue": "abc",
            "type": "String"
          },
          "openAIEndpoint": {
            "defaultValue": "https://example.openai.azure.com/",
            "type": "String"
          },
          "openAIKey": {
            "defaultValue": "abc123",
            "type": "String"
          }
        },
        "triggers": {
          "When_a_HTTP_request_is_received": {
            "inputs": {
              "method": "POST",
              "schema": {
                "properties": {
                  "description": {
                    "type": "string"
                  },
                  "subject": {
                    "type": "string"
                  }
                },
                "type": "object"
              }
            },
            "kind": "Http",
            "type": "Request"
          }
        }
      },
      "parameters": {
        "$connections": {
          "value": {}
        },
        "openAIChatDeployment": {
          "value": ""
        },
        "openAIEndpoint": {
          "value": ""
        },
        "openAIKey": {
          "value": ""
        }
      }
    },
    "workflowDefinition": "[variables('$fxv#0').definition]"
  },
  "resources": [
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2019-05-01",
      "name": "[format('{0}-logicapp', parameters('prefix'))]",
      "location": "[parameters('location')]",
      "properties": {
        "definition": "[variables('workflowDefinition')]",
        "parameters": {
          "openAIEndpoint": {
            "value": "[parameters('AzureOpenAIEndpoint')]"
          },
          "openAIKey": {
            "value": "[parameters('AzureOpenAIKey')]"
          },
          "openAIChatDeployment": {
            "value": "[parameters('AzureOpenChatDeployment')]"
          },
          "$connections": {
            "value": {}
          }
        }
      }
    }
  ]
}